@media (max-width: 1000px) {
  .kategorier {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .produktliste {
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
  }
}
