/* Font */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #fceffa;
}

header {
  background-color: #ffa8d3;
  height: 100px;
  width: 530px;
  border-radius: 15px;
  margin-left: 20px;
  padding-top: 1px;
}

p {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  color: #18206f;
  margin: 30px;
  font-size: 40px;
}

h2 {
  color: #241e4e;
  margin: 30px;
  font-family: "Josefin Sans", sans-serif;
}

a {
  font-family: "Josefin Sans", sans-serif;
}

/* Menu */
.nav-menu {
  display: flex;
  gap: 30px;
  margin: 40px;
}

.nav-menu a {
  text-decoration: none;
  color: #241e4e;
  font-size: 20px;
}

.nav-menu a:hover {
  color: #fcf5c7;
}

/* Kategori */
.kategori_item {
  text-decoration: none;
  color: #241e4e;
  font-size: 16px;
  padding: 20px;
}

.kategori_item:hover {
  color: #ffa8d3;
}

/* produktliste */

.produktkort img {
  width: 350px;
  margin: auto;
  align-self: center;
}

.produktkort {
  margin: 40px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  gap: 10px;
  width: 400px;
}

/* produkt */

.produkt {
  background-color: white;
  margin: 40px;
  border-radius: 15px;
  padding: 15px;
  width: 470px;
}

.produkt img {
  width: 350px;
  margin: 10px;
}

.produkt h3,
.produkt p {
  padding: 5px;
}

.koeb_knap {
  background-color: #ffa8d3;
  width: 80px;
  height: fit-content;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  margin-left: 100px;
}

.koeb_knap a {
  text-decoration: none;
}

.koeb_knap:hover {
  background-color: #fcf5c7;
  cursor: pointer;
}

.stoerrelse {
  display: flex;
  background-color: #fceffa;
  padding: 10px;
  border-radius: 15px;
}

.stoerrelse select {
  color: #ffa8d3;
  border: none;
  background-color: white;
  border-radius: 5px;
  margin-left: 20px;
  width: 70px;
}

.koeb_felt {
  display: flex;
  margin: 20px;
}

.breadcrumbs {
  display: flex;
  gap: 50px;
  margin: 30px;
  list-style: none;
}

.breadcrumbs a {
  text-decoration: none;
  color: #18206f;
  font-size: 13px;
}

breadcrumbs li::after {
  content: " > ";
  font-size: 0.6rem;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  transition: all 0.3s;
}

@media (max-width: 1000px) {
  .kategorier {
    margin: 40px;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 200px;
    border-radius: 15px;
  }
}

@media (min-width: 1000px) {
  .kategorier {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 40px;
    background-color: none;
  }

  .kategori_item {
    background-color: white;
    margin: auto;
    width: 400px;
    color: #241e4e;
    border: 1px solid #fcf5c7;
    border-radius: 15px;
  }

  .kategori_item:hover {
    color: white;
    background-color: #fcf5c7;
  }

  /* Produkt */

  .produkt {
    background-color: white;
    margin: 60px;
    border-radius: 15px;
    padding: 15px;
    width: 870px;
  }

  .produkt img {
    width: 750px;
    margin: 10px;
  }
}
